.App {
  width: 100vw;
  height: auto;
  min-height: 100vh;
}

 body{
  margin: 0;
  padding: 0;
}

#fff{
  padding-right: 50px;
}

#ggg{
  padding-left: 40px;
}

#ffff{
  color: aliceblue;
  border-color: black;
  background: rgb(93, 85, 91);
}

#space{
  padding-left: 20px;
  color: aliceblue;
}

#con_manual{
  margin: 20px 50px 20px 50px;
}

#breadcrumb{
  padding: 10px 10px 0px 20px;
  align-items: left;
  border-radius: 10px;
  margin-top: 30px;
  margin: 30px;
}


